---
layout: default
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ page.date | date_to_long_string }}
    <!-- {% assign type = site.types | where: 'short_name', page.type | first %}
    {% if type %} / <a href="{{ type.url }}">{{ type.name }}</a>{% endif %} -->
    {% for tag in page.tags %}
    {% if forloop.first %} / Tags:{% endif %}
    {{ tag }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  </time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>
